.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
section{
    width: 100%;
    height: 800px;
    display: flex;
}
.section1{
    width: 70%;
    position: relative;
    display: flex;
    height: 800px;
    overflow: hidden;
}
.black{
    width: 38%;
    background-color: black;
    height: 100%;  
}

.text_div1{
    width: 51%;
    position: absolute;
    top: 20%;
    left: 11%;
}
.img2{
    width: 50%;
    position: absolute;
    background: linear-gradient(90deg, white,white, black);
    top: 18%;
    left: 15%;
}
.section2{
    width: 30%;
}
.text_div1{
    position: absolute;
    top: 20%;
    left: 60%;
    width: 350px;
    height: 160px;
}
.text1{
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    line-height: 32px;
    color: #444444;
}

.location{
    position: absolute;
    left: 60%;
    top: 55%;
    display: flex;
}
.location1{
    width: 204px;
    height: 72px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Outfit', sans-serif;
}
.location2{
    width: 56px;
    height: 72px;
    background-color:  #D5966C;
    display: flex;
    justify-content: center;
}
.img3{
    margin-top: 5px;
    width: 24px;
}
article{
    width: 80%;
    margin: 180px auto;
    height: 1150px;
}
.article1{
    width: 100%;
    height: 400px;
    display: flex;
    overflow: hidden;
}
.about1{
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 32px;
}
.img4{
    width: 350px;
    height: 120px;
    
}
.div_text2{
    margin-left: 32px;
    width: 350px;
    height: 128px;
}
.text2{
   font-size: 1.375rem;
   font-family: 'Outfit', sans-serif;
   line-height: 32px;
}
.article2{
    width: 100%;
    height: 720px;
    display: flex;
    gap: 60px;
}
.about2{
    
    height: 720px;
    margin-top: 30px;
}
.img6{
    margin-top: 30px;
}
.black1{
    margin-top: 30px;
    width: 445px;
    height: 377px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.img7{
    margin-right: 100px;
}
.div_text3{
    width: 350px;
    height: 96px;
}
.text3{
    color: white;
    font-size: 1.375rem;
   font-family: 'Outfit', sans-serif;
   line-height: 32px;
}
footer{
    width: 100%;
    height: 244px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
    padding: 0 165px 0 165px;
}
.footer_div{
    width: 430px;
    height: 84px;
}
.text4{
    color: white;
    font-size: 1.125rem;
    font-family: 'Outfit', sans-serif;
    line-height: 28px;
}
.icon_div{
    display: flex;
    gap: 20px;
    color: white;
    font-size: 32px;
}
@media (max-width:1240px){
    .poto{
        width: 500px;
    }
    .img5{
        width: 500px;
    }
    .img6{
        width: 400px;
    }
    .img7{
        width: 200px;
    }
    .black1{
        width: 400px;
        height: 260px;
    }
    .text3{
        font-size: 1rem;
    }
    .text4{
        font-size: 1rem;
    }
    footer{
        padding-left: 100px;
    }
}
@media (max-width:1091px) {
    
    .img4{
        width: 250px;
    }
    .about1{
        margin-top: 60px;
    }
    .div_text2{
        width: 250px;
        margin-left: 0;
    }
    .text2{
        font-size: 1rem;
        text-align: start;
    }
    .poto{
        width: 400px;
    }
    .img5{
        width: 400px;
    }
    .img6{
        width: 300px;
    }
    .img7{
        margin: 0;
        width: 150px;
    }
    .black1{
        width: 300px;
        height: 210px;
    }
    
    footer{
        padding-left: 100px;
    }
}
